.HomePage{

	.main{
		padding-top: 0;
	}
	.issue-preview{
		//margin-top: -200px;
		background: url(../images/tile.jpeg);
		//padding: $column-gutter;
	}
	.start-reading{
		//text-transform: uppercase;
		text-align: center;
		font-family: $header-font-family;
		
		font-size: rem-calc(36);
		a{
			//border-bottom: 2px solid $primary-color;
		}

		@media #{$large-up}{
			line-height: 98px;
			text-align: right;

		}
	}

	.news-list{

		h3{
			font-size: rem-calc(22);
		}

		article time{
			font-size: rem-calc(15);
		}
	}

}