.issue-card-list {
    @include block-grid($per-row: 1);
    @media #{$medium-up} {
        @include block-grid($per-row: 2, $spacing: $column-gutter / 2);
    }
    @media #{$large-up} {
        @include block-grid($per-row: 3, $spacing: $column-gutter / 2);
    }
    img.issue-cover-image {
        width: 100%;
    }
    li {
        min-height: 200px;
        overflow: hidden;
        line-height: 67px;
        padding-bottom: $column-gutter/2;
        a {
            background: #eee;
            display: block;
            position: relative;
        }
        .issue-card-overlay, .issue-card-title {
            display: block;
            position: absolute;
            overflow: hidden;
        }

        .issue-date{
        	text-align: center;
        }
        .issue-card-overlay {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #000;
            -ms-filter: "alpha(opacity=20)";
            filter: alpha(opacity = 20);
            -moz-opacity: .2;
            -khtml-opacity: .2;
            opacity: .2;
        }
        .issue-card-title-area {
            display: block;
            position: absolute;
            left: 0;
            top: 35%;
            width: 100%;
            margin-top: -10px;
            text-align: center;
            opacity: 1;
            line-height: 2;
            a, p {
                color: white;
            }
            .issue-title {

                font-size: rem-calc(23);
                padding-top: 0;
                @media #{$large-up} {
                    font-size: rem-calc(28);
                }

            }
        }
    }
    li.browse-container {
        .browse {
            min-height: 420px;
            padding: 0;
            p {
                font-size: 1.4em;
                a {
                    display: inline;
                }
            }
        }
    }
}

.issue-card-list {}

.IssueHolder {}