/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 480px;
$break-medium: 768px;
$break-large: 980px; /* 980px / 16px; */
$break-xlarge: 1140px; /* 1140px / 16px; */
 
.footer {
	margin-top: $footer-padding;
	background: $topbar-base-color;
	color: white;
	padding: 3em 0 1em .1em;
	position: relative;
	padding-top: 60px;
	font-family: $header-font-family;
}
.footer p {
	@media screen and (min-width: $break-small) {
		font-size: rem-calc(13);
	}
	
}
.footer a {
	color: lighten($primary-color, 50);
	&:hover {
	
	}
}
.footer h4 {
	color: #eee;
	font-weight: 300;
	
	text-transform: uppercase;
	@media screen and (min-width: $break-small) {
		margin-top: 0;
	}
}

.footer-nav {
	list-style: none;
	margin: 0;
	padding: 1em 0 0;
	@media screen and (min-width: $break-small) {
		
	}
}
.footer-nav:first-child {
	padding-top: 0;
}
.footer-nav a {
	display: block;
	padding: 10px 0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	&:hover {
		border-left: 1px solid #28acb6;
	}
	@media screen and (min-width: $break-small) {
		font-size: rem-calc(13);
		padding: 5px 0 5px 10px;
	}
}
@media only screen and (max-width: $break-small) {
	.mobile-half {
		float: left;
		width: 50%;
	}
}
.footer .btn {color: #333;}

.appt-btn {
	border: 3px solid #eee;
	color: #fff;
	display: block;
	margin-top: 12px;
	padding: 5px;
	text-align: center;
	&:hover {
		background: #fff;
		color: #333;
		text-decoration: none;
	}
}

.footer .logo{
	display: block;

	&.uiowa{
		max-width: 200px;
	}
}